@font-face {
  font-family: "KyivTypeSans-Bold";
  src: url("../fonts/KyivTypeTitling-Bold3.woff"),
    url("../fonts/KyivTypeTitling-Bold3.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
